autom4te.cache
autom4te.cache/*
*.o
*.lo
*.la
.libs/
src/mpse/.deps/
src/mpse/.dirstamp
src/test/.deps/
src/test/.dirstamp
config.log
config.status
missing
COPYING
INSTALL
Makefile
bm_test
config.log
config.status
depcomp
libtool
missing
mpse_test
src/config.h
src/sfutil/
src/stamp-h1
m4/
